html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #0B1C51;
    color: white;
    width: 100%;
} 

header > h1 {
    font-size: 52px;
    margin-left: .4rem;
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-right: .4rem;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    margin: .5rem;;
} 

@media all and (min-width: 600px) {
  header {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
}